body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

/* header and introduction */
header{
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 15%;

}

.intro{
    height: 45vh;
    gap: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

header, .intro{
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url('../tiger-images/celebrity-status/scandal1.png') no-repeat center center fixed;
    background-size: cover;
    color: #f9faf8;
}


.left-links{
    font-size: 24px;
    margin-top: 5px;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header ul{
    display: flex;
    gap: 80px;
    
}

ul{
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    list-style: none;
    font-size: 18px;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
}

a{
    text-decoration: none;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    color: #f9faf8;
    flex-flow: column wrap; 

}

.intro-text{
    margin-left: 15%;
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    flex: 1;
}

.main h1{
    font-size: 75px;
    font-weight: bolder;
    margin-bottom: 0px;
    text-shadow: 0 0 0.8em rgb(255 255 255);
    margin-bottom: 80px;
}

.main-content{
    background-color: #121212;
    width: 100%;
}

/* tigermania introduction */
.tigermania{
    color: white;
}

.tigermania h2{
    margin-top: 50px;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.tigermania p{
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    padding: 40px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {    
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

/* tiger brands */ 
.tiger-brand{
    color: white;
}

.brand-container h2{
    margin-top: 50px;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.top-brands{
    display: flex;
    justify-content: space-around;
}

.top-brands img{
    height: 600px;
    width: 540px;
}

.taghuer .brand-info, .gatorade .brand-info{
    width: 500px;
    height: 200px;
    color: white;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
    font-size: 18pt;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 100px;
}

.bottom-brands{
    display: flex;
    justify-content: space-around;
}

.bottom-brands img{
    height: 600px;
    width: 800px;
}

.buick .brand-info, .gillette .brand-info{
    width: 760px;
    height: 200px;
    color: white;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
    font-size: 18pt;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 100px;
}

/* family man */
.family-man{
    flex-wrap: wrap;
    padding: 60px;
    color: white;
}

.family-cards{
    display: flex;
    justify-content: space-around;
    gap: 80px;
}

.family-image{
    width: 800px;
    height: 500px;
    /* border: 3px solid #f7601b; */
    border-radius: 20px;
    background: url('/tiger-images/celebrity-status/family.png');
    background-position: center 0px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.family-info{
    width: 800px;
    height: 500px;
    color: white;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
    margin-bottom: 180px;
}

.family-man h2{
    font-size: 36px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.family-info p{
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.family-caption{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
}

.family-caption h6{
    margin-top: -10px;
}

/* obama */
.obama-container{
    display: flex;
    justify-content: space-around;
}

.obama-one, .obama-two{
    width: 600px;
    height: 300px;
    color: white;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
    margin-top: 150px;
    margin-bottom: 100px;
}

.obama p{
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.obama-caption{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
}

.obama-caption h6{
    margin-top: -10px;
}

/* fall from grace */
.fall-container{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fall-image{
    width: 800px;
    height: 800px;
    /* border: 3px solid #f7601b; */
    border-radius: 20px;
    background: url('/tiger-images/celebrity-status/cheated.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.fall-caption h5{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
}

.fall-caption h6{
    margin-top: -10px;
}

.fall-info{
    width: 800px;
    height: 400px;
    color: white;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.fall-info h2{
    font-size: 36px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.fall-info p{
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* three factors */
.factors{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.factors-intro{
    width: 1100px;
    height: 100px;
    color: white;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
    font-size: 20px;
    padding: 20px;
    margin-top: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.factor-one, .factor-two, .factor-three, .fall-closing{
    width: 1000px;
    height: 200px;
    color: white;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
    margin-top: 100px;
}

.fall-closing{
    width: 1000px;
    height: 300px;
    color: white;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.factor-one p, .factor-two p, .factor-three p, .fall-closing p{
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* reality tv */
.reality-tv h2{
    font-size: 36px;
    font-style: italic;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.tv-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.tv-info{
    width: 800px;
    height: 650px;
    color: white;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}

.tv-vid{
    margin-top: 150px;
}

/* pop culture */
.pop-culture{
    height: 75vh;
    gap: 32px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-flow: column wrap;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) , url('../tiger-images/celebrity-status/magazine-covers.png') no-repeat center center fixed;
    background-size: cover;
    color: #f9faf8;
    font-size: 24px;
    margin-top: 300px;
}

.culture-container{
    background:  #121212;
    opacity: 75%;
}

.culture-container h2,.culture-container h5, .culture-container p{
    margin: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column wrap;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
}

/* revisiting race */
.revisit-race h2{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 50px;
}
.revisit-container, .revisit-container-two{
    display: flex;
    justify-content: space-around;
}

.revisit-image img{
    height: 700px;
    width: 600px;
}

.revisit-info-one{
    width: 800px;
    height: 600px;
    font-size: 22pt;
}

.revisit-info-one, .revisit-info-two{
    color: white;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

.revisit-info-two{
    width: 800px;
    height: 650px;
    font-size: 20px;
}

.revisit-caption{
    text-align: center;
}

.revisit-caption h5{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
}

.revisit-caption h6{
    margin-top: -10px;
}

/* one drop rule */
.one-drop h2{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 50px;
}

.drop-vid{
    display: flex;
    justify-content: center;
}

.vid-caption h4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.drop-container{
    display: flex;
    justify-content: center;
}

.drop-info{
    color: white;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    height: 650px;
    width: 2000px;
    font-size: 18pt;
}

/* augusta */ 


/* final analysis */
.final-analysis{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url('../tiger-images/homepage/analysis-background.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.analysis-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 100px;
    padding: 40px;
}

.analysis-left{
    font-size: 24pt;
    font-style: italic;
    text-align: center;
}

.analysis-right{
    background-color:#FFFFF0;
    color:#121212;
    font-size: 18pt;
    border-radius: 50px;
    height: 450px;
    padding: 20px;
}

/* credits */
#credits{
    background-color: #121212;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#credits h2{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

#credits h4{
    font-size: 20px;
    color: #1f2938;
}

#credits p{
    color: #1f2938;
}

.image-section{
    display: flex;
    justify-content: center;
}

.image-container{
    width: 2000px;
    height: 700px;
    background-color:#E5E4E2;
    border-radius: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

/* footer */

footer{
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url('../tiger-images/homepage/analysis-background.png') no-repeat center center fixed;
    background-size: cover;
    color: #f9faf8;
}

.footer-list{
    display: flex;
    gap: 180px;
}