body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

/* header and introduction */
header{
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 15%;

}

.intro{
    height: 45vh;
    gap: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

header, .intro{
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url('../tiger-images/history/pioneers.png') no-repeat center center fixed;
    background-size: cover;
    color: #f9faf8;
}


.logo{
    font-size: 24px;
    font-family: "kawashiro";
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header ul{
    display: flex;
    gap: 80px;
    
}

ul{
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    list-style: none;
    font-size: 18px;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
}

a{
    text-decoration: none;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    color: #f9faf8;
    flex-flow: column wrap; 

}

.intro-text{
    margin-left: 15%;
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    align-content: center;
}

.main h1{
    font-size: 75px;
    font-weight: bolder;
    margin-bottom: 0px;
    text-shadow: 0 0 0.8em rgb(255 255 255);
    margin-bottom: 80px;
}


.pioneers-caption{
    margin-right: 2%;
    margin-bottom: -350px;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
}

.disclaimer{
    background-color: #C3073F;
}

.disclaimer-text{
    text-align: center;
}


.content{
    background-color: #121212;
    width: 100%;
}

/* black roles */

.black-roles{
    flex-wrap: wrap;
    padding: 64px;
}

#roles-intro{
    display: flex;
    justify-content: space-around;
    gap: 80px;
}


.roles-card{
    width: 800px;
    height: 500px;
    /* border: 3px solid #f7601b; */
    border-radius: 20px;
    background: url('/tiger-images/history/1800sgolf.jpeg');
    background-position: center 0px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.info-card{
    width: 800px;
    height: 550px;
    /* border: 3px solid #f7601b; */
    background: linear-gradient(180deg, #f7691b, rgba(0, 0, 0, 0));
    border-radius: 20px;
}

.roles-info{
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card-caption{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
}

.info-card h2{
    font-size: 36px;
    font-style: italic;
    text-align: center;
}

.card-caption h6{
    margin-top: -10px;
}

/* footer */
footer{
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url('../tiger-images/history/pioneers.png') no-repeat center center fixed;
    background-size: cover;
    color: #f9faf8;
}

.footer-list{
    display: flex;
    gap: 180px;
}