body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

/* header and introduction */
header{
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 15%;

}

.intro{
    height: 45vh;
    gap: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

header, .intro{
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url('../tiger-images/history/pioneers.png') no-repeat center center fixed;
    background-size: cover;
    color: #f9faf8;
}


.left-links{
    font-size: 24px;
    margin-top: 5px;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header ul{
    display: flex;
    gap: 80px;
    
}

ul{
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    list-style: none;
    font-size: 18px;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
}

a{
    text-decoration: none;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    color: #f9faf8;
    flex-flow: column wrap; 

}

.intro-text{
    margin-left: 15%;
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    flex: 1;
}

.main h1{
    font-size: 75px;
    font-weight: bolder;
    margin-bottom: 0px;
    text-shadow: 0 0 0.8em rgb(255 255 255);
    margin-bottom: 80px;
}


.pioneers-caption{
    margin-right: 2%;
    margin-bottom: -350px;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
}

.disclaimer{
    background-color: #F7CAC9;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    opacity: 75%;
}

.disclaimer-text{
    text-align: center;
}


.main-content{
    background-color: #121212;
    width: 100%;
}


/* black roles intro */

.black-roles{
    flex-wrap: wrap;
    padding: 64px;
}

#roles-intro{
    display: flex;
    justify-content: space-around;
    gap: 80px;
}


.roles-card{
    width: 800px;
    height: 500px;
    /* border: 3px solid #f7601b; */
    border-radius: 20px;
    background: url('/tiger-images/history/1800sgolf.jpeg');
    background-position: center 0px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.info-card{
    width: 800px;
    height: 550px;
    /* border: 3px solid #f7601b; */
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
}

.roles-info{
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card-caption{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
}

.info-card h2{
    font-size: 36px;
    font-style: italic;
    text-align: center;
}

.card-caption h6{
    margin-top: -10px;
}

/* black roles examples*/
.roles-examples h2{
    text-align: center;
}

.top-examples, .bottom-examples{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flip-card {
    background-color: transparent;
    width: 800px;
    height: 500px;
    border-radius: 50px;
    perspective: 1000px; 
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #50C878;
    color: #121212;
    transform: rotateY(180deg);
    padding: 10px;
  }

.flip-card-back h2{
    font-size: 36px;
    font-style: italic;
}

.flip-card-back p{
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}

.flip-card-back .black-labor{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.flip-card .demas-quote{
    font-style: italic;
}

/* black pioneers introduction */
.black-pioneers{
    background-color: #121212;
    color: white;
}

.black-pioneers h2{
    margin-top: 100px;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.black-pioneers p{
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    padding: 40px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}


@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {    
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

/* Pioneers cards */
.pioneer-layer{
    background-color: #121212;
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.pioneer-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 2.5em;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 150px;
}


.pioneer-cards{
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0px;
}

.pioneer-cards img{
    border-radius: 5px 5px 0 0;
    width: 14.5em;
    height: 16em;
    object-fit: cover;
    box-shadow: 0 10px 30px black;
    transition: 0.3s;
}

.pioneer-wheeler{
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0px;
}

.pioneer-wheeler img{
    border-radius: 5px 5px 0 0;
    width: 14.5em;
    height: 16em;
    box-shadow: 0 10px 30px black;
    transition: 0.3s;
}

.pioneer-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.pioneer-info{
    text-align: center;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    margin: 1em 0 1 em 0;
    z-index: 2;
    width: 12em;
    height: 24em;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
}

.shippen{
    font-size: 22px;
}

.wheeler{
    font-size: 16px;
}

.rhodes{
    font-size: 17px;
}

.sifford{
    font-size: 14px;
}

.elder{
    font-size: 14px;
}

/* color line */
.color-line{
    background-color: #121212;
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.line-card{
    width: 800px;
    height: 500px;
    /* border: 3px solid #f7601b; */
    border-radius: 20px;
    background: url('/tiger-images/history/pgacolorline.jpeg');
    background-position: center 0px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 150px;
}

.color-line .info-card{
    padding: 20px;
    font-size: 21px;
}

/* integration timeline */
.timeline-heading{
    background-color:#121212;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
}

.integration-timeline{
    background-color: #121212;
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    position: relative;
}

.integration-timeline::after{
    content: '';
    position: absolute;
    width: 10px;
    background-color: #50C878;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.text-wrapper{
    padding: 10px 40px;
    position: relative;
    width:51%;
    box-sizing: border-box;
    margin: 50px 0;
}
.text-wrapper::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 25px;
    left: 350px;
    right: -10px;
    background-color:#899499;
    top:15px;
    border-radius: 50%;
    z-index: 1;
}

.left{
    left: 33%;
}

.right{
    left:50%;
}
.right::after{
    left:-10px;
}

.content{
    padding: 15px 15px 15px 10px;
    background-color: #50C878;
    border-radius: 4px;
    width: 250px;
}

.content h3{
    text-transform: uppercase;
    font-size: 14px;
    color: #212121;
    letter-spacing:1px;
}

.content p{
    color: #212121;
    font-weight: 300;
    font-size: 18px;
    margin-top: 2px;
}

.content img{
    border-radius: 5px 5px 0 0;
    width: 14.5em;
    height: 16em;
    object-fit: cover;
    display: flex;
    justify-content: center;
}

/* two worlds collide */
.world-collision{
    background-color: #121212;
    color: white;
}

.world-collision h2{
    margin-top: 100px;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.world-collision p{
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    padding: 40px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

/* Woods vs Peete */
.woods-peete{
    background-color:#121212;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
}

.wp-container{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 30px;
}

.peete-image img{
    border-radius: 50%;
    background-size: cover;
    width: 8em;
    height: 8em;
}

.woods-image img{
    border-radius: 50%;
    width: 8em;
    height: 8em;
}

.wp-info-woods, .wp-info-peete{
    background-color:#50C878;
    border-radius: 100px;
    text-align: center;
}

.wp-info-woods{
    padding: 10px;
}

.wp-info-peete p{
    padding: 40px;
}

.wp-right-woods{
    margin-top: 30px;
}

.wp-right-peete{
    margin-top: -10px;
}

/* representation */
.representation{
    background-color: #121212;
    color: white;
}

.representation h2{
    margin-top: 100px;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.representation p{
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    padding: 40px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

/* final analysis */
.final-analysis{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url('../tiger-images/homepage/analysis-background.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.analysis-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 100px;
    padding: 40px;
}

.analysis-left{
    font-size: 24pt;
    font-style: italic;
    text-align: center;
}

.analysis-right{
    background-color:#FFFFF0;
    color:#121212;
    font-size: 18pt;
    border-radius: 50px;
    height: 450px;
    padding: 20px;
}

/* credits */
#credits{
    background-color: #121212;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#credits h2{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

#credits h4{
    font-size: 20px;
    color: #1f2938;
}

#credits p{
    color: #1f2938;
}

.image-section{
    display: flex;
    justify-content: center;
}

.image-container{
    width: 2000px;
    height: 1200px;
    background-color:#E5E4E2;
    border-radius: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

/* footer */

footer{
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url('../tiger-images/homepage/analysis-background.png') no-repeat center center fixed;
    background-size: cover;
    color: #f9faf8;
}

.footer-list{
    display: flex;
    gap: 180px;
}