body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

/* header and introduction */
header{
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 15%;

}

.intro{
    height: 45vh;
    gap: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

header, .intro{
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url('../tiger-images/racial-identity/parents.png') no-repeat center center fixed;
    background-size: cover;
    color: #f9faf8;
}


.left-links{
    font-size: 24px;
    margin-top: 5px;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header ul{
    display: flex;
    gap: 80px;
    
}

ul{
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    list-style: none;
    font-size: 18px;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
}

a{
    text-decoration: none;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    color: #f9faf8;
    flex-flow: column wrap; 

}

.intro-text{
    margin-left: 15%;
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    flex: 1;
}

.main h1{
    font-size: 75px;
    font-weight: bolder;
    margin-bottom: 0px;
    text-shadow: 0 0 0.8em rgb(255 255 255);
    margin-bottom: 80px;
}

.main-content{
    background-color: #121212;
    width: 100%;
}

/* ethnic composition */
.ethnic-composition{
    background-color: #121212;
    padding: 20px;
}

.ethnic-composition h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    text-align: center;
}

.ethnic-container{
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center left;
    padding: 10px;
}

.earl-chart img{
    height: 400px;
    width: 600px;
    margin-left: 60px;
}

.tida-chart img{
    height: 400px;
    width: 500px;
    margin-left: 180px;
}

.tiger-chart img{
    height: 600px;
    width: 700px;
    margin-left: 40px;
}

.ethnic-sources{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

/* Sensationalized */
.sensationalized{
    flex-wrap: wrap;
    padding: 60px;
}

.sensationalized-cards{
    display: flex;
    justify-content: space-around;
    gap: 80px;
}

.sensationalized-image{
    width: 800px;
    height: 500px;
    /* border: 3px solid #f7601b; */
    border-radius: 20px;
    background: url('/tiger-images/racial-identity/tiger-earl.png');
    background-position: center 0px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.sensationalized-info{
    width: 800px;
    height: 600px;
    color: white;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
}

.sensationalized-info h2{
    font-size: 36px;
    font-style: italic;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.sensationalized-info p{
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.sensationalized-caption{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
}

.sensationalized-caption h6{
    margin-top: -10px;
}

/* tv show */
.tw-show{
   padding: 20px;
}

.tv-show h2{
    font-size: 36px;
    font-style: italic;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.tv-container{
    display: flex;
    justify-content: space-around;
    gap: 250px;
}

.tv-info{
    width: 800px;
    height: 650px;
    color: white;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* early stance */
.early-stance{
    color: white;
}

.early-stance h2{
    margin-top: 100px;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.early-stance p{
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    padding: 40px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {    
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

/* early stance cards */
.card-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.early-card{
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0px;
}


.card-image img{
    border-radius: 5px 5px 0 0;
    width: 400px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0 10px 30px black;
    transition: 0.3s;
}

.early-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-info{
    text-align: center;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    margin: 1em 0 1 em 0;
    z-index: 2;
    width: 363px;
    height: 300px;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
}

.card-info h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

.card-info p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

/* masters tournament */
.masters-tournament{
    color: white;
}

.masters-tournament h2{
    margin-top: 100px;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.masters-tournament p{
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    padding: 40px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

/* oprah */
.oprah-container{
    display: flex;
    justify-content: space-around;
}

.oprah-info{
    width: 800px;
    height: 690px;
    color: white;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.oprah-vid{
    margin-top: 50px;
}

/* colorblindness */
.colorblindness{
    color: white;
    display: flex;
    flex-direction: column;
}

.colorblindness h2{
    margin-top: 100px;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.colorblindness p{
    width: 2000px;
    height: 690px;
    color: white;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 35px;
    padding: 30px;
}

/* zoeller tilghman */
.zoeller-tilghman{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.zoeller-tilghman h2{
    font-size: 20pt;
    text-align: center;
}

.ZT-container{
    display: flex;
    justify-content: space-around;
}

.ZT-image img{
    border-radius: 5px 5px 0 0;
    width: 700px;
    height: 700px;
    object-fit: cover;
    box-shadow: 0 10px 30px black;
    transition: 0.3s;
}

.ZT-info{
    text-align: center;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    margin: 1em 0 1 em 0;
    z-index: 2;
    width: 660px;
    height: 550px;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0)); 
}


/* final analysis */
.final-analysis{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url('../tiger-images/homepage/analysis-background.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.analysis-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 100px;
    padding: 40px;
}

.analysis-left{
    font-size: 24pt;
    font-style: italic;
    text-align: center;
}

.analysis-right{
    background-color:#FFFFF0;
    color:#121212;
    font-size: 18pt;
    border-radius: 50px;
    height: 450px;
    padding: 20px;
}

/* credits */
#credits{
    background-color: #121212;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#credits h2{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

#credits h4{
    font-size: 20px;
    color: #1f2938;
}

#credits p{
    color: #1f2938;
}

.image-section{
    display: flex;
    justify-content: center;
}

.image-container{
    width: 2000px;
    height: 700px;
    background-color:#E5E4E2;
    border-radius: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

/* footer */

footer{
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url('../tiger-images/homepage/analysis-background.png') no-repeat center center fixed;
    background-size: cover;
    color: #f9faf8;
}

.footer-list{
    display: flex;
    gap: 180px;
}