*{
    box-sizing: border-box;
}

[class*="col-"]{
    float: left;
    padding: 15px;
}

body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

/* header and introduction */
.header{
    display: flex;
    width: 100vw;
    gap: 15%;
}

.noPadding{
    padding: 0px;
}

.intro{
    height: 75vh;
    gap: 32vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 100vw;
    align-self: stretch;
    align-items: center;
}

.header, .intro{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url('../tiger-images/homepage/celebration.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #f9faf8;
}

.nav{
    display: flex;
    justify-content: space-around;
}

.logo{
    font-size: 24px;
    font-family: "kawashiro";
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.header ul{
    display: flex;
    gap: 80px;
    
}

ul{
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    list-style: none;
    font-size: 18px;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
}

a{
    text-decoration: none;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
    color: #f9faf8;
    flex-flow: column wrap; 
    width: 100vw;

}

.intro-text{
    margin-left: 15%;
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    align-content: flex-start;
}

.main h1{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
    text-shadow: 0 0 0.8em rgb(255 255 255);
}

h1{
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.masters-caption{
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
    margin-left: 40%;
}

.second-title{
    color: #e5e7eb;
    font-size: 18px;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
    margin-left: 30px;
}

.masters-caption h5{
    display: flex;
    justify-content: center;
}

/* Icon section */

#woods-icon{
    padding: 64px;
}

#woods-icon h2{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

h2{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.cards{
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
    gap: 10vh;
}

.intro-card{
    width: 75vh;
    height: 60vh;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
}


.intro-info{
    font-size: 1.8em;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.icon-card{
    width: 40vw;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    background: url('/tiger-images/homepage/icon.png');
    background-position: center 0px;
    background-size: cover;
}

.icon-card h5, .icon-card h6{
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
    margin-bottom: 0px;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
}

#woods-icon .card-caption{
    margin-top: 50vh;
}

/* Controversies section*/
#controversies{
    padding: 50px;
}

#controversies h2{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 15px;
}

h2{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.contro-card{
    width: 40vw;
    height: 40vh;
    padding: 20px;
    border-radius: 20px;
    background: url('/tiger-images/homepage/press-conference.jpeg');
    background-position: center 0px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.intro2-card{
    width: 40vw;
    height: 40vh;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
}

#controversies .card-caption{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

.contro-card h5, .contro-card h6{
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
    margin-bottom: 0px;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
}


/* Return to glory */

#return-glory{
    height: 75vh;
    gap: 32px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-flow: column wrap;
    width: 100vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url('../tiger-images/homepage/glory.png') no-repeat center center fixed;
    background-size: cover;
    color: #f9faf8;
    font-size: 24px;
}

.glory-container{
    margin: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column wrap;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px white;
}

.glory-container h6{
    margin-top: 0px;

}

/* thesis section */
#thesis h2{
    font-size: 50px;
    font-weight: bolder;
    margin-left: 45%;
}

#thesis{
    padding: 30px;
    display: flex;
}

.textbox{
    width: 90vw;
    height: 25vh;
    background: linear-gradient(180deg, #50C878, rgba(0, 0, 0, 0));
    border-radius: 20px;
    display: flex;
    margin-bottom: 5vh;
    margin-left: 2%;
}

.thesis-statement{
    font-size: 30px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* analysis breakdown */
#analysis{
    height: 70vh;
    gap: 32px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url('../tiger-images/homepage/analysis.png') no-repeat center center fixed;
    background-size: cover;
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#analysis h2{
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    display: flex;
    align-items: center;
}

.analysis-cards{
    display: flex;
    justify-content: space-around;
}

.analysis-card{
    justify-content: column;
    gap: 400px;
    max-width: 500px;
    color: #1f293700;
}

.top-layer, .bottom-layer{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.history-image, .identity-image, .celebrity-image, .legacy-image{
    width: 500px;
    height: 400px;
    gap: 400px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

.history-image{
    background-image: url('/tiger-images/history/pioneers.png');
}

.identity-image{
    background-image: url('/tiger-images/racial-identity/parents.png');
}

.celebrity-image{
    background-image: url('/tiger-images/celebrity-status/scandal1.png');
}

.legacy-image{
    background-image: url('/tiger-images/legacy/iron-throne.png');
}

.captions{
    display: flex;
    gap: 32px;
}

.analysis-caption{
    background-image: linear-gradient(180deg, #191818, rgba(0, 0, 0, 0));
    border-radius: 20px;
    max-width: 500px;
    height: 165px;
    text-align: center;
    padding: 10px;
}

.analysis-info, h5{
    color: #e5e7eb;
    font-size: 18px;
}

/* Images and Media */
#credits h2{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

#credits h4{
    font-size: 20px;
    color: #1f2938;
}

#credits p{
    color: #1f2938;
}

.image-container{
    background-color:#E5E4E2;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    margin-bottom: 50px;
    width: 90vw;
}

/* footer */
.footer{
    display: flex;
    width: 100vw;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url('../tiger-images/homepage/glory.png') no-repeat center center fixed;
    background-size: cover;
    color: #f9faf8;
}

.footer-list{
    display: flex;
    gap: 180px;
}

/* For mobile phones */
[class*="col-"]{
    width: 100%;
}

@media only screen and (min-width: 600px){
    .col-1{ width: 8.33%;}
    .col-2{ width: 16.66%;}
    .col-3{ width: 25%;}
    .col-4{ width: 33.33%;}
    .col-5{ width: 41.66%;}
    .col-6{ width: 50.%;}
    .col-7{ width: 58.33%;}
    .col-8{ width: 66.66%;}
    .col-9{ width: 75%;}
    .col-10{ width: 83.33%;}
    .col-11{ width: 91.66%;}
    .col-12{ width: 100%;}
}

@media only screen and (min-width: 768px){
    .col-1{ width: 8.33%;}
    .col-2{ width: 16.66%;}
    .col-3{ width: 25%;}
    .col-4{ width: 33.33%;}
    .col-5{ width: 41.66%;}
    .col-6{ width: 50.%;}
    .col-7{ width: 58.33%;}
    .col-8{ width: 66.66%;}
    .col-9{ width: 75%;}
    .col-10{ width: 83.33%;}
    .col-11{ width: 91.66%;}
    .col-12{ width: 100%;}
}
